<p>contact-us works!</p>
<!-- <img src="https://i.stack.imgur.com/vhoa0.jpg" alt="To load test" style="width: 40%;"> -->
<form>
    <!-- <international-phone-number [(ngModel)]="model.phone_number" placeholder="Enter phone number" 
        [maxlength]="20" [defaultCountry]="'in'" [required]="true" #phoneNumber="ngModel" 
        name="phone_number" [allowedCountries]="['in', 'ca', 'us']"></international-phone-number> -->
        <!-- <input type="text"
        ng2TelInput
        [ng2TelInputOptions]="{initialCountry: 'in'}"
        (hasError)="hasError($event)"
        (ng2TelOutput)="getNumber($event)"
        (intlTelInputObject)="telInputObject($event)"
        (countryChange)="onCountryChange($event)" /> -->
    <button type="submit">Submit</button>
</form>
   