<div class="row">
    <!-- <div class="col-md-12" style="display: flex; padding: 0;"> -->
        <div id="mySidenav" *ngIf="isSideBarVisible" class="col-md-1 sidenav">
            <!-- <a href="javascript:void(0)" class="closebtn" (click)="toggleNavBar()">&times;</a> -->
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
        <div id="main" class="col-md-11">
            <h1>WhiteBoard</h1>
            <button type="button" class="btn btn-primary" (click)="toggleEditor()">Primary</button>
            <span style="font-size:30px;cursor:pointer" (click)="toggleNavBar()">&#9776; open</span>
            <!-- <h1>Code Editor</h1> -->
            <app-online-ide *ngIf="isEditorVisible"></app-online-ide>
        </div>
    <!-- </div> -->
</div>