<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
    Welcome to {{ title }}!
  </h3>
</div>
<div>
  <hr>
  <a routerLink="/about-us">ABOUT US</a> | 
  <a routerLink="/company">COMPANY</a> | 
  <a routerLink="/contact-us">CONTACT US</a> | 
  <a routerLink="/profile">PROFILE</a> | 
  <a routerLink="/reach-us">REACH US</a> | 
  <a routerLink="/fake-apis">FAKE APIs</a> | 
  <a routerLink="/online-ide">Online IDE</a>

  <hr>
</div>
<div class="container-box">
  <router-outlet></router-outlet>

  <div class="loading-overlay" #spinnerElement style="display: none;">
    <img src="../assets/progress.gif" alt="progress bar">
  </div>
</div>
